  
[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

discord = "*"
beautifulsoup4 = "*"
lxml = "*"
requests = "*"
aiohttp = "*"
giphy-client = "*"
Pillow = "*"
jikanpy = "*"
imgurpython= "*"
psutil ="*"
googletrans ="*"

[requires]

python_version = "3.8.1"